In [33]:
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

from imblearn.over_sampling import SMOTE

from sklearn.feature_selection import SelectFromModel

from xgboost import XGBClassifier

import xgboost as xgb

In [2]:
df=pd.read_csv('data.csv', sep=';')

In [3]:
df

,Unnamed: 0,Enc_rph,REGION,SEXO,TRAMO_ETARIO,NACIONALIDAD,CINE_EME_RED,EST_CONYUGAL,SUBMUESTRA,proveedor,...,motivacion,gasto_anual,ingreso_anual,ganancia_final_men,tramos_ganancias,sum_l3_t,sum_l4_t,trabajo_no_remunerado,trabajo_remunerado,trabajo_global
0,1,5930,6,2,6,0,3,1,3,1,...,2.0,11324000,18060000,5e+05,2.0,"6,66666666666667",0,"6,66666666666667",8,"14,6666666666667"
1,2,1052,9,1,6,0,2,1,2,2,...,2.0,1224000,3600000,2e+05,1.0,0,0,0,12,12
2,3,4203,4,1,2,0,2,2,2,2,...,3.0,124880000,166879992,3500000,6.0,"1,25",1,"2,25",8,"10,25"
3,4,7738,5,2,2,0,4,2,2,1,...,2.0,2544000,6192000,250000,1.0,4,3,7,4,11
4,5,6539,11,1,6,0,2,1,2,2,...,3.0,0,3500000,7e+05,2.0,0,0,0,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6937,6938,2310,10,1,4,0,4,1,3,2,...,3.0,5718000,10800006,5e+05,2.0,"0,416666666666667",0,"0,416666666666667",8,"8,41666666666667"
6938,6939,7104,8,2,2,0,5,3,3,1,...,3.0,645000,1935000,520000,2.0,2,0,2,10,12
6939,6940,8933,10,1,3,0,2,3,3,2,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
6940,6941,3322,13,2,4,0,4,5,3,2,...,3.0,3800000,6200000,230000,1.0,"2,25",0,"2,25",4,"6,25"
6941,6942,9146,13,2,3,0,3,1,3,2,...,2.0,40482000,"2,4e+07",5e+05,2.0,"1,75","0,5","2,25",10,"12,25"

In [4]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6942 entries, 0 to 6941
Data columns (total 426 columns):
 #    Column                      Dtype
---   ------                      -----
 0    Unnamed: 0                  int64
 1    Enc_rph                     int64
 2    REGION                      int64
 3    SEXO                        int64
 4    TRAMO_ETARIO                int64
 5    NACIONALIDAD                int64
 6    CINE_EME_RED                int64
 7    EST_CONYUGAL                int64
 8    SUBMUESTRA                  int64
 9    proveedor                   int64
 10   a1                          int64
 11   a2                          float64
 12   a3                          float64
 13   a3_otro                     float64
 14   a4                          float64
 15   a5                          float64
 16   a5_otro                     float64
 17   a6                          float64
 18   a7                          float64
 19   a8                          float64
 20   a8_otro                     float64
 21   a9                          float64
 22   a9_otro                     float64
 23   a10                         float64
 24   a11                         float64
 25   a12                         float64
 26   a13_1                       float64
 27   a13_2                       float64
 28   a13_3                       float64
 29   b1                          float64
 30   b2                          float64
 31   b2_otro                     float64
 32   b3                          float64
 33   b3_ano                      float64
 34   b4                          float64
 35   b5_1                        float64
 36   b5_2                        float64
 37   b6                          float64
 38   b7                          float64
 39   b8                          float64
 40   b8_otro                     float64
 41   b9                          float64
 42   c1_a                        float64
 43   c1_caenes_1d_red            float64
 44   c2_ciuo_1d                  float64
 45   c3_1                        float64
 46   c3_2                        float64
 47   c4                          float64
 48   c5                          float64
 49   c6_1                        float64
 50   c6_2                        float64
 51   c6_3                        float64
 52   c7                          float64
 53   meses_trabajados            float64
 54   trimestres_trabajados       float64
 55   semestres_trabajados        float64
 56   c8                          float64
 57   c8_otro                     float64
 58   c9                          float64
 59   c9_otro                     float64
 60   d1                          float64
 61   d2_a_1                      float64
 62   d2_a_2                      float64
 63   d2_a_3                      float64
 64   d2_a_4                      float64
 65   d2_a_5                      float64
 66   d2_a_6                      float64
 67   d2_a_7                      float64
 68   d2_a_8                      float64
 69   d2_b_1                      float64
 70   d2_c_1                      float64
 71   d2_d_1                      float64
 72   d2_b_2                      float64
 73   d2_c_2                      float64
 74   d2_d_2                      float64
 75   d2_b_3                      float64
 76   d2_c_3                      float64
 77   d2_d_3                      float64
 78   d2_b_4                      float64
 79   d2_c_4                      float64
 80   d2_d_4                      float64
 81   d2_b_5                      float64
 82   d2_c_5                      float64
 83   d2_d_5                      float64
 84   d2_b_6                      float64
 85   d2_c_6                      float64
 86   d2_d_6                      float64
 87   d2_b_7                      float64
 88   d2_c_7                      float64
 89   d2_d_7                      float64
 90   d2_b_8                      float64
 91   d2_c_8                      float64
 92   d2_d_8                      float64
 93   d3                          float64
 94   d4_a_1                      float64
 95   d4_a_2                      float64
 96   d4_a_3                      float64
 97   d4_a_4                      float64
 98   d4_b_1                      float64
 99   d4_c_1                      float64
 100  d4_d_1                      float64
 101  d4_e_1                      float64
 102  d4_b_2                      float64
 103  d4_c_2                      float64
 104  d4_d_2                      float64
 105  d4_e_2                      float64
 106  d4_b_3                      float64
 107  d4_c_3                      float64
 108  d4_d_3                      float64
 109  d4_e_3                      float64
 110  d4_b_4                      float64
 111  d4_c_4                      float64
 112  d4_d_4                      float64
 113  d4_e_4                      float64
 114  d5_a                        float64
 115  d5_b                        float64
 116  d5_c                        float64
 117  d5_d                        float64
 118  d6_a                        float64
 119  d6_b_1                      float64
 120  d6_b_2                      float64
 121  d7                          float64
 122  d7_otro                     float64
 123  d8                          float64
 124  d9                          float64
 125  d10                         float64
 126  d11                         float64
 127  d12                         float64
 128  d12_t                       float64
 129  d12_p                       float64
 130  d13_1                       float64
 131  d13_2                       float64
 132  d13_3                       float64
 133  d13_77                      float64
 134  d13_5                       float64
 135  d13_88                      float64
 136  d13_99                      float64
 137  d13_otro                    float64
 138  ganancia_declarada          object
 139  ganancia_estimada           object
 140  ganancia_estimada_depurada  object
 141  ganancia_final              object
 142  e1                          float64
 143  e2                          float64
 144  e3                          float64
 145  e4                          float64
 146  e4_otro                     float64
 147  e5                          float64
 148  e5_ano                      float64
 149  e6                          float64
 150  e6_otro                     float64
 151  e7_1                        float64
 152  e7_2                        float64
 153  e7_3                        float64
 154  e8_1                        float64
 155  e8_2                        float64
 156  e8_3                        float64
 157  e9_1                        float64
 158  e9_2                        float64
 159  e9_3                        float64
 160  e10                         float64
 161  e11_1                       float64
 162  e11_2                       float64
 163  e11_3                       float64
 164  f1                          float64
 165  f3                          float64
 166  f3_otro                     float64
 167  f4_1                        float64
 168  f4_2                        float64
 169  f4_3                        float64
 170  f4_4                        float64
 171  f4_5                        float64
 172  f4_6                        float64
 173  f4_7                        float64
 174  f5                          float64
 175  f5_num                      float64
 176  g1_1                        float64
 177  g1_2                        float64
 178  g1_3                        float64
 179  g1_4                        float64
 180  g1_5                        float64
 181  g1_6                        float64
 182  g2_1                        float64
 183  g3_1                        float64
 184  g4_1                        float64
 185  g5_1                        float64
 186  g6_1                        float64
 187  g2_2                        float64
 188  g3_2                        float64
 189  g4_2                        float64
 190  g5_2                        float64
 191  g6_2                        float64
 192  g2_3                        float64
 193  g3_3                        float64
 194  g4_3                        float64
 195  g5_3                        float64
 196  g6_3                        float64
 197  g2_4                        float64
 198  g3_4                        float64
 199  g4_4                        float64
 200  g5_4                        float64
 201  g6_4                        float64
 202  g2_5                        float64
 203  g3_5                        float64
 204  g4_5                        float64
 205  g5_5                        float64
 206  g6_5                        float64
 207  g2_6                        float64
 208  g3_6                        float64
 209  g4_6                        float64
 210  g5_6                        float64
 211  g6_6                        float64
 212  g7                          float64
 213  g7_otro                     float64
 214  g8_1                        float64
 215  g8_2                        float64
 216  g8_3                        float64
 217  g8_4                        float64
 218  g8_5                        float64
 219  g8_6                        float64
 220  g8_77                       float64
 221  g8_88                       float64
 222  g8_99                       float64
 223  g8_otro                     float64
 224  g9                          float64
 225  g10_1                       float64
 226  g10_2                       float64
 227  g10_otro                    float64
 228  h1_1                        float64
 229  h1_2                        float64
 230  h1_3                        float64
 231  h1_4                        float64
 232  h1_5                        float64
 233  h2_1_1                      float64
 234  h2_1_2                      float64
 235  h2_1_3                      float64
 236  h2_1_4                      float64
 237  h3_1                        float64
 238  h2_2_1                      float64
 239  h2_2_2                      float64
 240  h2_2_3                      float64
 241  h2_2_4                      float64
 242  h3_2                        float64
 243  h2_3_1                      float64
 244  h2_3_2                      float64
 245  h2_3_3                      float64
 246  h2_3_4                      float64
 247  h3_3                        float64
 248  h2_4_1                      float64
 249  h2_4_2                      float64
 250  h2_4_3                      float64
 251  h2_4_4                      float64
 252  h3_4                        float64
 253  h2_5_1                      float64
 254  h2_5_2                      float64
 255  h2_5_3                      float64
 256  h2_5_4                      float64
 257  h3_5                        float64
 258  h4                          float64
 259  h4_monto                    float64
 260  i1                          float64
 261  i2                          float64
 262  i2_otro                     float64
 263  i3                          float64
 264  i4_1                        float64
 265  i4_2                        float64
 266  i4_3                        float64
 267  i4_4                        float64
 268  i4_5                        float64
 269  i4_77                       float64
 270  i4_otro                     float64
 271  i5_1                        float64
 272  i5_2                        float64
 273  i5_3                        float64
 274  i5_4                        float64
 275  i5_5                        float64
 276  i5_77                       float64
 277  i5_otro                     float64
 278  i6_a_1                      float64
 279  i6_a_2                      float64
 280  i6_a_3                      float64
 281  i6_a_4                      float64
 282  i6_a_5                      float64
 283  i6_a_77                     float64
 284  i6_a_otro                   float64
 285  i6_b_1                      float64
 286  i6_b_2                      float64
 287  i6_b_3                      float64
 288  i6_b_4                      float64
 289  i6_b_5                      float64
 290  i6_b_77                     float64
 291  i6_b_otro                   float64
 292  i7                          float64
 293  i7_cual                     object
 294  i8                          float64
 295  i9                          float64
 296  j1                          float64
 297  j2                          float64
 298  j2_otro                     float64
 299  j3                          float64
 300  j3_otro                     float64
 301  j4                          float64
 302  j4_otro                     float64
 303  k1_1                        float64
 304  k1_2                        float64
 305  k1_otro                     float64
 306  k2_1                        float64
 307  k2_2                        float64
 308  k2_otro                     float64
 309  k3_1                        float64
 310  k3_2                        float64
 311  k3_3                        float64
 312  k3_4                        float64
 313  k4                          float64
 314  k5                          float64
 315  k6                          float64
 316  k7                          float64
 317  k8_1                        float64
 318  k8_2                        float64
 319  k8_3                        float64
 320  k8_4                        float64
 321  k8_5                        float64
 322  k9                          float64
 323  k10                         float64
 324  k11_1                       float64
 325  k11_2                       float64
 326  k11_3                       float64
 327  k11_4                       float64
 328  k11_5                       float64
 329  k11_77                      float64
 330  k11_otro                    float64
 331  k12_1                       float64
 332  k12_2                       float64
 333  k12_3                       float64
 334  k12_4                       float64
 335  k12_5                       float64
 336  k12_6                       float64
 337  k12_7                       float64
 338  k12_8                       float64
 339  k12_9                       float64
 340  k12_10                      float64
 341  k12_11                      float64
 342  k12_77                      float64
 343  k12_otro                    float64
 344  k13_1                       float64
 345  k13_2                       float64
 346  k13_3                       float64
 347  k13_4                       float64
 348  k13_5                       float64
 349  k13_6                       float64
 350  k13_7                       float64
 351  k13_8                       float64
 352  k13_9                       float64
 353  k13_10                      float64
 354  k13_11                      float64
 355  k13_77                      float64
 356  k14_1                       float64
 357  k14_2                       float64
 358  k14_3                       float64
 359  k14_4                       float64
 360  k14_5                       float64
 361  k14_6                       float64
 362  k14_77                      float64
 363  k14_otro                    float64
 364  k15_1                       float64
 365  k15_2                       float64
 366  k15_3                       float64
 367  k15_4                       float64
 368  k15_5                       float64
 369  k15_6                       float64
 370  k15_77                      float64
 371  l1                          float64
 372  l2                          object
 373  l3_a_1                      float64
 374  l3_b_1_h                    float64
 375  l3_b_1_m                    float64
 376  l3_a_2                      float64
 377  l3_b_2_h                    float64
 378  l3_b_2_m                    float64
 379  l3_a_3                      float64
 380  l3_b_3_h                    float64
 381  l3_b_3_m                    float64
 382  l3_a_4                      float64
 383  l3_b_4_h                    float64
 384  l3_b_4_m                    float64
 385  l3_a_5                      float64
 386  l3_b_5_h                    float64
 387  l3_b_5_m                    float64
 388  l4_a_1                      float64
 389  l4_b_1_h                    float64
 390  l4_b_1_m                    float64
 391  l4_a_2                      float64
 392  l4_b_2_h                    float64
 393  l4_b_2_m                    float64
 394  l4_a_3                      float64
 395  l4_b_3_h                    float64
 396  l4_b_3_m                    float64
 397  l4_a_4                      float64
 398  l4_b_4_h                    float64
 399  l4_b_4_m                    float64
 400  l5                          float64
 401  CISE_EME                    float64
 402  CISE_EME_2                  float64
 403  ESTRATO                     int64
 404  ID_UPM                      int64
 405  FACTOR_EME                  object
 406  num_micro                   object
 407  lleva_registro              float64
 408  registro_UE                 float64
 409  informalidad                float64
 410  lugar_trabajo               float64
 411  capacitacion                float64
 412  fecha_EME                   float64
 413  antiguedad_laboral          float64
 414  cuentas_UE                  float64
 415  separa_gasto                float64
 416  motivacion                  float64
 417  gasto_anual                 object
 418  ingreso_anual               object
 419  ganancia_final_men          object
 420  tramos_ganancias            float64
 421  sum_l3_t                    object
 422  sum_l4_t                    object
 423  trabajo_no_remunerado       object
 424  trabajo_remunerado          object
 425  trabajo_global              object
dtypes: float64(397), int64(13), object(16)
memory usage: 22.6+ MB

In [5]:
variables=['SEXO','TRAMO_ETARIO','EST_CONYUGAL'	, 'CINE_EME_RED','c1_caenes_1d_red'	,'b3','b8','REGION'	,'g10_1','g10_2','e3','b5_1','b5_2','e8_1', 'e8_2',	'e8_3','k12_1', 'j1']

In [6]:
#seleccionamos las variables que nos interesan
df1=df[variables]

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6942 entries, 0 to 6941
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SEXO              6942 non-null   int64
 1   TRAMO_ETARIO      6942 non-null   int64
 2   EST_CONYUGAL      6942 non-null   int64
 3   CINE_EME_RED      6942 non-null   int64
 4   c1_caenes_1d_red  6579 non-null   float64
 5   b3                6579 non-null   float64
 6   b8                6579 non-null   float64
 7   REGION            6942 non-null   int64
 8   g10_1             6579 non-null   float64
 9   g10_2             6579 non-null   float64
 10  e3                6579 non-null   float64
 11  b5_1              6579 non-null   float64
 12  b5_2              6579 non-null   float64
 13  e8_1              6579 non-null   float64
 14  e8_2              6579 non-null   float64
 15  e8_3              6579 non-null   float64
 16  k12_1             6579 non-null   float64
 17  j1                6579 non-null   float64
dtypes: float64(13), int64(5)
memory usage: 976.3 KB

In [8]:
#elimina filas con valor 96 en columna e3
df1 = df1[df1.e3 != 96]

In [9]:
#elimina filas con nan en la columna c1_caenes_1d_red
df1.dropna(subset=['c1_caenes_1d_red'], inplace=True)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6531 entries, 0 to 6941
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SEXO              6531 non-null   int64
 1   TRAMO_ETARIO      6531 non-null   int64
 2   EST_CONYUGAL      6531 non-null   int64
 3   CINE_EME_RED      6531 non-null   int64
 4   c1_caenes_1d_red  6531 non-null   float64
 5   b3                6531 non-null   float64
 6   b8                6531 non-null   float64
 7   REGION            6531 non-null   int64
 8   g10_1             6531 non-null   float64
 9   g10_2             6531 non-null   float64
 10  e3                6531 non-null   float64
 11  b5_1              6531 non-null   float64
 12  b5_2              6531 non-null   float64
 13  e8_1              6531 non-null   float64
 14  e8_2              6531 non-null   float64
 15  e8_3              6531 non-null   float64
 16  k12_1             6531 non-null   float64
 17  j1                6531 non-null   float64
dtypes: float64(13), int64(5)
memory usage: 969.4 KB

In [11]:
df1=df1.astype('int')

In [12]:
#convierte variables a categoricas
df1=df1.astype('category')

In [13]:
df1.info(10)

<class 'pandas.core.frame.DataFrame'>
Index: 6531 entries, 0 to 6941
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SEXO              6531 non-null   category
 1   TRAMO_ETARIO      6531 non-null   category
 2   EST_CONYUGAL      6531 non-null   category
 3   CINE_EME_RED      6531 non-null   category
 4   c1_caenes_1d_red  6531 non-null   category
 5   b3                6531 non-null   category
 6   b8                6531 non-null   category
 7   REGION            6531 non-null   category
 8   g10_1             6531 non-null   category
 9   g10_2             6531 non-null   category
 10  e3                6531 non-null   category
 11  b5_1              6531 non-null   category
 12  b5_2              6531 non-null   category
 13  e8_1              6531 non-null   category
 14  e8_2              6531 non-null   category
 15  e8_3              6531 non-null   category
 16  k12_1             6531 non-null   category
 17  j1                6531 non-null   category
dtypes: category(18)
memory usage: 169.8 KB

In [14]:
df1.describe(include='all')

,SEXO,TRAMO_ETARIO,EST_CONYUGAL,CINE_EME_RED,c1_caenes_1d_red,b3,b8,REGION,g10_1,g10_2,e3,b5_1,b5_2,e8_1,e8_2,e8_3,k12_1,j1
count,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531
unique,2,6,7,6,8,5,4,16,14,14,6,11,10,2,2,2,3,5
top,1,5,1,3,5,1,1,13,2,13,5,1,10,2,2,2,2,4
freq,3693,1651,2384,3072,1851,2488,3011,1183,4670,3746,3924,4717,5919,5784,6093,5807,3439,4980

In [15]:
#en columna SEXO, remmplaza  2 por 0
df1['SEXO'].replace(2, 0, inplace=True)

In [ ]:
#reemplaza 2 por 0 en columnas e8_1, e8_2, e8_3
df1['e8_1'].replace(2, 0, inplace=True)
df1['e8_2'].replace(2, 0, inplace=True)
df1['e8_3'].replace(2, 0, inplace=True)

In [17]:
df1.describe(include='all')

,SEXO,TRAMO_ETARIO,EST_CONYUGAL,CINE_EME_RED,c1_caenes_1d_red,b3,b8,REGION,g10_1,g10_2,e3,b5_1,b5_2,e8_1,e8_2,e8_3,k12_1,j1
count,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531,6531
unique,2,6,7,6,8,5,4,16,14,14,6,11,10,2,2,2,3,5
top,1,5,1,3,5,1,1,13,2,13,5,1,10,0,0,0,2,4
freq,3693,1651,2384,3072,1851,2488,3011,1183,4670,3746,3924,4717,5919,5784,6093,5807,3439,4980

In [ ]:
#separa las variables predictoras de la variable objetivo, la variable objetivo es e3

X = df1.drop('e3', axis=1)
y = df1['e3']

In [19]:
var=['TRAMO_ETARIO','EST_CONYUGAL', 'CINE_EME_RED','c1_caenes_1d_red','b3','b8','REGION','g10_1','g10_2','b5_1','b5_2','k12_1', 'j1']

In [ ]:
#en X crea variables que estan en lista var  a dummy
X = pd.get_dummies(X, columns=var)

In [ ]:
#X a boleano
X = X.astype('bool')

In [22]:
X.info(10)

<class 'pandas.core.frame.DataFrame'>
Index: 6531 entries, 0 to 6941
Data columns (total 113 columns):
 #    Column                Dtype
---   ------                -----
 0    SEXO                  bool
 1    e8_1                  bool
 2    e8_2                  bool
 3    e8_3                  bool
 4    TRAMO_ETARIO_1        bool
 5    TRAMO_ETARIO_2        bool
 6    TRAMO_ETARIO_3        bool
 7    TRAMO_ETARIO_4        bool
 8    TRAMO_ETARIO_5        bool
 9    TRAMO_ETARIO_6        bool
 10   EST_CONYUGAL_1        bool
 11   EST_CONYUGAL_2        bool
 12   EST_CONYUGAL_3        bool
 13   EST_CONYUGAL_4        bool
 14   EST_CONYUGAL_5        bool
 15   EST_CONYUGAL_6        bool
 16   EST_CONYUGAL_99       bool
 17   CINE_EME_RED_1        bool
 18   CINE_EME_RED_2        bool
 19   CINE_EME_RED_3        bool
 20   CINE_EME_RED_4        bool
 21   CINE_EME_RED_5        bool
 22   CINE_EME_RED_6        bool
 23   c1_caenes_1d_red_1    bool
 24   c1_caenes_1d_red_2    bool
 25   c1_caenes_1d_red_3    bool
 26   c1_caenes_1d_red_4    bool
 27   c1_caenes_1d_red_5    bool
 28   c1_caenes_1d_red_6    bool
 29   c1_caenes_1d_red_7    bool
 30   c1_caenes_1d_red_999  bool
 31   b3_1                  bool
 32   b3_2                  bool
 33   b3_3                  bool
 34   b3_88                 bool
 35   b3_99                 bool
 36   b8_1                  bool
 37   b8_2                  bool
 38   b8_3                  bool
 39   b8_77                 bool
 40   REGION_1              bool
 41   REGION_2              bool
 42   REGION_3              bool
 43   REGION_4              bool
 44   REGION_5              bool
 45   REGION_6              bool
 46   REGION_7              bool
 47   REGION_8              bool
 48   REGION_9              bool
 49   REGION_10             bool
 50   REGION_11             bool
 51   REGION_12             bool
 52   REGION_13             bool
 53   REGION_14             bool
 54   REGION_15             bool
 55   REGION_16             bool
 56   g10_1_1               bool
 57   g10_1_2               bool
 58   g10_1_3               bool
 59   g10_1_4               bool
 60   g10_1_5               bool
 61   g10_1_6               bool
 62   g10_1_7               bool
 63   g10_1_8               bool
 64   g10_1_9               bool
 65   g10_1_10              bool
 66   g10_1_11              bool
 67   g10_1_12              bool
 68   g10_1_77              bool
 69   g10_1_96              bool
 70   g10_2_1               bool
 71   g10_2_2               bool
 72   g10_2_3               bool
 73   g10_2_4               bool
 74   g10_2_5               bool
 75   g10_2_6               bool
 76   g10_2_7               bool
 77   g10_2_8               bool
 78   g10_2_9               bool
 79   g10_2_10              bool
 80   g10_2_11              bool
 81   g10_2_13              bool
 82   g10_2_77              bool
 83   g10_2_96              bool
 84   b5_1_1                bool
 85   b5_1_2                bool
 86   b5_1_3                bool
 87   b5_1_4                bool
 88   b5_1_5                bool
 89   b5_1_6                bool
 90   b5_1_7                bool
 91   b5_1_8                bool
 92   b5_1_9                bool
 93   b5_1_88               bool
 94   b5_1_99               bool
 95   b5_2_1                bool
 96   b5_2_2                bool
 97   b5_2_3                bool
 98   b5_2_4                bool
 99   b5_2_5                bool
 100  b5_2_6                bool
 101  b5_2_7                bool
 102  b5_2_8                bool
 103  b5_2_10               bool
 104  b5_2_88               bool
 105  k12_1_1               bool
 106  k12_1_2               bool
 107  k12_1_96              bool
 108  j1_1                  bool
 109  j1_2                  bool
 110  j1_3                  bool
 111  j1_4                  bool
 112  j1_96                 bool
dtypes: bool(113)
memory usage: 771.7 KB

In [23]:
y.value_counts()

e3
5    3924
2    1289
1     709
3     367
4     176
6      66
Name: count, dtype: int64

In [24]:
# X e y enteros
X = X.astype('int')
y = y.astype('int')

In [25]:
#en y reemplaza 1,2,3,4 por 1 restantes por 0
y.replace([1,2,3,4], 1, inplace=True)
y.replace([5,6], 0, inplace=True)

In [26]:
y.value_counts()

e3
0    3990
1    2541
Name: count, dtype: int64

In [27]:
#smote para balancear
smote = SMOTE(sampling_strategy='minority')
X_sm, y_sm = smote.fit_resample(X, y)

y_sm.value_counts()

e3
1    3990
0    3990
Name: count, dtype: int64

In [ ]:
#separa en train y test, 70% train, 30% test  train corresponde a los datos utilizados para entrenar el modelo y test a los datos utilizados para evaluar el modelo

X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3, random_state=42)

## XGBoost como modelo de clasificaciÃ³n

In [34]:
model = xgb.XGBClassifier(objective='binary:logistic', n_estimators=20, seed=123)

In [35]:
# seleccion de variables
selection = SelectFromModel(model, threshold=0.01)
select_X_train = selection.fit_transform(X_train, y_train)


# entrena el modelo con las variables seleccionadas
selection_model = xgb.XGBClassifier(objective='binary:logistic', n_estimators=20, seed=123)
selection_model.fit(select_X_train, y_train)


# evalua el modelo 
select_X_test = selection.transform(X_test)

y_pred = selection_model.predict(select_X_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.74      0.76      1223
           1       0.74      0.78      0.76      1171

    accuracy                           0.76      2394
   macro avg       0.76      0.76      0.76      2394
weighted avg       0.76      0.76      0.76      2394

[[901 322]
 [262 909]]

In [1]:
(901+909)/(901+909+262+322)

0.7560568086883876

El modelo tiene una tasa de acierto (accuracy) del 76% = (901+909)/(901+909+262+322). los nÃºmeros en la diagonal de la matriz de confusiÃ³n son los registros que el modelo clasifica correctamente.

PrecisiÃ³n para la categoria 0 es 0.77 =901/(901+262) y el recall 0.74=901/(901+322), de la misma forma lo pueden calcular para la categorÃ­a 1. Estos resultados los deben interpretar en la tesis.

In [ ]:
#variables mas importantes
importances = selection_model.feature_importances_
indices = np.argsort(importances)[::-1]
for f in range(select_X_train.shape[1]):
    print("%d. feature %s (%f)" % (f + 1, selected_feat[indices[f]], importances[indices[f]]))
    
    
# con esto pueden ver las variables mas importantes e interpretar con sus palabras. Por quÃ© creen que esas variables son las mÃ¡s importantes?    Esto lo hacen solo para algunas variables, por ejemplo 5

1. feature CINE_EME_RED_2 (0.078670)
2. feature g10_1_96 (0.073683)
3. feature b3_3 (0.066804)
4. feature CINE_EME_RED_1 (0.057046)
5. feature e8_3 (0.055222)
6. feature CINE_EME_RED_4 (0.048973)
7. feature CINE_EME_RED_3 (0.045745)
8. feature b3_88 (0.043515)
9. feature TRAMO_ETARIO_1 (0.040156)
10. feature g10_2_3 (0.037549)
11. feature CINE_EME_RED_5 (0.032373)
12. feature b5_1_9 (0.030517)
13. feature REGION_9 (0.029633)
14. feature c1_caenes_1d_red_4 (0.028102)
15. feature TRAMO_ETARIO_2 (0.027822)
16. feature EST_CONYUGAL_5 (0.025809)
17. feature b5_1_6 (0.025018)
18. feature b3_1 (0.024494)
19. feature c1_caenes_1d_red_3 (0.023742)
20. feature c1_caenes_1d_red_1 (0.021459)
21. feature EST_CONYUGAL_3 (0.020367)
22. feature REGION_2 (0.018796)
23. feature b5_1_8 (0.018745)
24. feature REGION_14 (0.018409)
25. feature EST_CONYUGAL_6 (0.016984)
26. feature EST_CONYUGAL_2 (0.016798)
27. feature b3_2 (0.014737)
28. feature c1_caenes_1d_red_5 (0.014423)
29. feature TRAMO_ETARIO_3 (0.012884)
30. feature REGION_15 (0.011508)
31. feature REGION_11 (0.009241)
32. feature b5_2_5 (0.005399)
33. feature k12_1_2 (0.005378)